aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
attrs
backoff
beautifulsoup4
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
cycler
dataclasses-json-speakeasy
dataclasses-json
deprecated
distro
effdet
emoji
faiss-cpu
fastapi
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gitdb
gitpython
greenlet
h11
httpcore
httpx-sse
httpx
huggingface-hub
humanfriendly
idna
iopath
jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema-specifications
jsonschema
kiwisolver
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain
langchainhub
langdetect
langserve
langsmith
layoutparser[layoutmodels,tesseract]
lxml
markdown-it-py
markupsafe
marshmallow
matplotlib
mdurl
mpmath
multidict
mypy-extensions
networkx
nltk
numpy
omegaconf
onnx
onnxruntime
openai
opencv-python
orjson
packaging
pandas
pdf2image
pdfminer-six
pdfplumber
pikepdf
pillow-heif
pillow
portalocker
protobuf
pyarrow
pycocotools
pycparser
pydantic-core
pydantic
pydeck
pygments
pyparsing
pypdf
pypdfium2
pyreadline3
pytesseract
python-dateutil
python-iso639
python-magic
python-multipart
pytz
pywin32
pyyaml
rapidfuzz
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
sqlalchemy
sse-starlette
starlette
streamlit
sympy
tabulate
tenacity
threadpoolctl
tiktoken
timm
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
types-requests
typing-extensions
typing-inspect
tzdata
unstructured-client
unstructured-inference
unstructured-pytesseract
unstructured[pdf]
urllib3
uvicorn
watchdog
wrapt
yarl
